body {
    text-align:center;
    background-color: #333333;
    margin: 0px;
    pading: 0px;
}

.title {
    font-family: "Droid Sans Mono";
    display:inline-block;
    color: white;
    font-size: 40px;
    padding-bottom: 3px;
}

#forkongithub {
    top: -20px !important;
    display: block;
    width: 100%;
    background-color: #16A085;
}

.rb-renderer-container {
    box-sizing:content-box;
    width: 100%;
    .rb-renderer {
        width: 100%;
        font-family: 'Courier New', 'monospace';
        font-size: 30px;
        line-height:inherit;
        color: white;
        background-color:#16A085;
        padding: 1px;
        display:inline-block;
    }
}

.info-container {
    .info-content {
        margin-top: 10px;
        margin-bottom:20px;
        background-color: #FFFFFF;
        //border: 4px white solid;
        padding: 40px;
        font-size: 16px;

        .title {
            color:black;
            font-family: "Helvetica";
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .body {
            text-align: left;
            font-family: "Helvetica";
        }
   }
}