<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Roguelikeboard.jsx</title>
        <link rel="stylesheet" type="text/css" href="/building/roguelikeboard/main.css">
        <link rel="shortcut icon" href="/building/roguelikeboard/img/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="react-container"></div>
    </body>
    <script src="/building/roguelikeboard/js/all.js"></script>
</html>